################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/5HO Me Fab/config/applicationhost.config
/.vs/5HO Me Fab
/.vs
/5HO Me Fab
